main {
    width: 500px;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    width: 100px;
    border: 1px solid black;
    text-align: center;
}
